@CHARSET "UTF-8";

body, html, div, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background-color: #048d89;
}

header {
	width: 1000px;
	height: 120px;
	clear: both;
	margin: auto;
}

#site-logo {
	width: 230px;
	height: 30px;
	float: left;
	font-family: "Courier New";
	color: white;
	line-height: 30px;
	font-weight: bold;
	font-size: 20px;
	background-color: #00553D;
	text-align: center;
  -moz-border-radius: 20px 200px 20px 200px;
  -webkit-border-radius: 20px 200px 20px 200px;
	border-radius: 20px 200px 20px 200px;
}

#main-navigation {
	width: 600px;
	height: 30px;
	float: left;
	margin-left: 70px;
}

#main-navigation ul {
	display: block;
	width: 800px;
	height: 20px;
	list-style-type: none;
}

#main-navigation ul li {
	display: block;
	width: 175px;
	height: 20px;
	margin-right: 25px;
	margin-top: 5px;
	float: left;
}

#main-navigation ul li a {
	display: block;
	width: 175px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background-color: #D24566;
	text-decoration: none;
	font-family: "Courier New";
	color: white;
	-moz-border-radius: 40px 40px 200px 200px;
	-webkit-border-radius: 40px 40px 200px 200px;
	border-radius: 40px 40px 200px 200px;
}

#main-navigation ul li a:hover {
	background-color: #9B0E2F;
}

#login-logout {
	width: 100px;
	height: 20px;
	margin-top: 5px;
	text-align: center;
	line-height: 20px;
	font-family: "Courier New";
	background-color: #E5A74B;
  float: right;
	-moz-border-radius: 200px 200px 40px 40px;
	-webkit-border-radius: 200px 200px 40px 40px;
	border-radius: 200px 200px 40px 40px;
}

#login-logout:hover {
	background-color: #FFCA7B;
}

#login-logout a {
	text-decoration: none;
	color: white;
}

main {
	width: 1000px;
	clear: both;
	margin: auto;
}


/******************************************************************************/


#login {
	width: 500px;
	height: 215px;
	margin: auto;
	background-color: #E5A74B;
	padding-top: 35px;
}

#login label {
	color: white;
	font-family: "Courier New";
}

#login div {
	width: 200px;
	height: 75px;
	clear: both;
	margin: auto;
}


/******************************************************************************/

#std-container {
	width: 1000px;
}

#add-index {
	width: 275px;
	height: 30px;
	margin-bottom: 20px;
	clear: both;
	text-align: center;
	line-height: 30px;
}

#add-index a {
	display: block;
	background-color: #2e5f15;
	width: 275px;
	height: 30px;
	color: #ffffff;
	text-decoration: none;
	font-family: "Courier New";
}

#add-index a:hover {
	background-color: #4e991c;
}

.notice-index {
	width: 190px;
	height: 190px;
	float: left;
	margin: 5px;
}

.notice-header-index {
	width: 100%;
	height: 20px;
}

.notice-title-index {
	width: 170px;
	height: 20px;
	float: left;
}

.notice-title-index {
	text-decoration: none;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	display: block;
	height: 20px;
	width: 165px;
	font-size: 15px;
	line-height: 20px;
	margin-left: 5px;
}

.notice-delete-index {
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	line-height: 20px;
	background-color: #D42A21;
}

.notice-delete-index a {
	text-decoration: none;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	display: block;
	height: 20px;
	width: 20px;
}

.notice-content-index {
	width: 170px;
	margin-top: 10px;
	padding: 0px 10px;
}

.notice-content-index a {
	text-decoration: none;
	color: black;
	font-family: "Courier New";
	font-weight: bold;
	display: block;
	width: 170px;
	height: 150px;
}


.notice-content-index a:hover {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    );
}

#notice-show {
	padding: 30px;
}

#notice-show h2 {
	margin-top: 0;
}

#notice-content-show {
	margin: 10px 0;
}

#notice-delete-show {
	width: 90px;
	height: 30px;
	background-color: #D42A21;
	text-align: center;
	line-height: 30px;
	float: right;
}

#notice-delete-show a {
	display: block;
	width: 90px;
	height: 30px;
	text-decoration: none;
	color: white;
}

#notice-edit-show {
	width: 120px;
	height: 30px;
	background-color: #f35800;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-left: 50px;
}

#notice-edit-show a {
	display: block;
	width: 120px;
	height: 30px;
	text-decoration: none;
	color: white;
}

#notice-show-actions {
	margin-top: 75px;
}

#notice-form-add {
	margin-left: 50px;
}

#notice-form-content-add {
	margin-top: 30px;
}

#notice-form-type-add {
	margin-top: 30px;
}

#add-form-submit {
	margin-top: 30px;
	float: right;
}

/******************************************************************************/


#table-users tr td:nth-child(1) {
	min-width: 200px;
}


#noticeType-form-color-add {
	margin-top: 30px;
}

.input-margin {
	margin-top: 30px;
}
